openapi: 3.1.0
info:
  contact:
    email: contact@factpulse.fr
    name: FactPulse
    url: https://factpulse.fr/
  description: "\nREST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA,\
    \ electronic signatures.\n\n## 🎯 Main Features\n\n### 📄 Factur-X Invoice Generation\n\
    - **Formats**: XML only or PDF/A-3 with embedded XML\n- **Profiles**: MINIMUM,\
    \ BASIC, EN16931, EXTENDED\n- **Standards**: EN 16931 (EU directive 2014/55),\
    \ ISO 19005-3 (PDF/A-3), CII (UN/CEFACT)\n- **🆕 Simplified Format**: Generation\
    \ from SIRET + auto-enrichment (Chorus Pro API + Business Search)\n\n### ✅ Validation\
    \ and Compliance\n- **XML Validation**: Schematron (45 to 210+ rules depending\
    \ on profile)\n- **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic\
    \ signatures\n- **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)\n\
    - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)\n\
    \n### 📡 AFNOR PDP/PA Integration (XP Z12-013)\n- **Flow Submission**: Send invoices\
    \ to Partner Dematerialization Platforms\n- **Flow Search**: View submitted invoices\n\
    - **Download**: Retrieve PDF/A-3 with XML\n- **Directory Service**: Company search\
    \ (SIREN/SIRET)\n- **Multi-client**: Support for multiple PDP configs per user\
    \ (stored credentials or zero-storage)\n\n### ✍️ PDF Electronic Signature\n- **Standards**:\
    \ PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival)\n\
    - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP)\n- **Validation**:\
    \ Cryptographic integrity and certificate verification\n- **Certificate Generation**:\
    \ Self-signed X.509 certificates for testing\n\n### 🔄 Asynchronous Processing\n\
    - **Celery**: Asynchronous generation, validation and signing\n- **Polling**:\
    \ Status tracking via `/tasks/{task_id}/status`\n- **No timeout**: Ideal for large\
    \ files or heavy validations\n\n## 🔒 Authentication\n\nAll requests require a\
    \ **JWT token** in the Authorization header:\n```\nAuthorization: Bearer YOUR_JWT_TOKEN\n\
    ```\n\n### How to obtain a JWT token?\n\n#### 🔑 Method 1: `/api/token/` API (Recommended)\n\
    \n**URL:** `https://factpulse.fr/api/token/`\n\nThis method is **recommended**\
    \ for integration in your applications and CI/CD workflows.\n\n**Prerequisites:**\
    \ Having set a password on your account\n\n**For users registered via email/password:**\n\
    - You already have a password, use it directly\n\n**For users registered via OAuth\
    \ (Google/GitHub):**\n- You must first set a password at: https://factpulse.fr/accounts/password/set/\n\
    - Once the password is created, you can use the API\n\n**Request example:**\n\
    ```bash\ncurl -X POST https://factpulse.fr/api/token/ \\\n  -H \"Content-Type:\
    \ application/json\" \\\n  -d '{\n    \"username\": \"your_email@example.com\"\
    ,\n    \"password\": \"your_password\"\n  }'\n```\n\n**Optional `client_uid` parameter:**\n\
    \nTo select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates),\
    \ add `client_uid`:\n\n```bash\ncurl -X POST https://factpulse.fr/api/token/ \\\
    \n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"username\": \"your_email@example.com\"\
    ,\n    \"password\": \"your_password\",\n    \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"\
    \n  }'\n```\n\nThe `client_uid` will be included in the JWT and allow the API\
    \ to automatically use:\n- AFNOR/PDP credentials configured for this client\n\
    - Chorus Pro credentials configured for this client\n- Electronic signature certificates\
    \ configured for this client\n\n**Response:**\n```json\n{\n  \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"\
    ,  // Access token (validity: 30 min)\n  \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"\
    \  // Refresh token (validity: 7 days)\n}\n```\n\n**Advantages:**\n- ✅ Full automation\
    \ (CI/CD, scripts)\n- ✅ Programmatic token management\n- ✅ Refresh token support\
    \ for automatic access renewal\n- ✅ Easy integration in any language/tool\n\n\
    #### 🖥️ Method 2: Dashboard Generation (Alternative)\n\n**URL:** https://factpulse.fr/api/dashboard/\n\
    \nThis method is suitable for quick tests or occasional use via the graphical\
    \ interface.\n\n**How it works:**\n- Log in to the dashboard\n- Use the \"Generate\
    \ Test Token\" or \"Generate Production Token\" buttons\n- Works for **all** users\
    \ (OAuth and email/password), without requiring a password\n\n**Token types:**\n\
    - **Test Token**: 24h validity, 1000 calls/day quota (free)\n- **Production Token**:\
    \ 7 days validity, quota based on your plan\n\n**Advantages:**\n- ✅ Quick for\
    \ API testing\n- ✅ No password required\n- ✅ Simple visual interface\n\n**Disadvantages:**\n\
    - ❌ Requires manual action\n- ❌ No refresh token\n- ❌ Less suited for automation\n\
    \n### 📚 Full Documentation\n\nFor more information on authentication and API\
    \ usage:\nhttps://factpulse.fr/documentation-api/\n    "
  license:
    name: Proprietary
    url: https://factpulse.fr/mentions-legales/
  termsOfService: https://factpulse.fr/cgu/
  title: FactPulse REST API
  version: 1.0.0
  x-logo:
    url: https://factpulse.fr/static/images/logo_new.5d7ae8746125.png
    altText: FactPulse Logo
servers:
- description: Production
  url: https://factpulse.fr
- description: Local development
  url: http://localhost:8001
tags:
- description: "\n## 📄 Electronic invoice generation and validation\n\n**Main API\
    \ for generating Factur-X invoices compliant with European standards.**\n\n###\
    \ Features\n\n- **Factur-X Generation**: MINIMUM, BASIC, EN16931, EXTENDED profiles\n\
    - **Validation**: Schematron (45 to 210+ rules), VeraPDF (146+ PDF/A-3 rules)\n\
    - **Electronic Signature**: PAdES-B-B, PAdES-B-T, PAdES-B-LT (eIDAS levels)\n\
    - **Asynchronous Processing**: Celery support for large files\n- **Auto-enrichment**:\
    \ Data from Chorus Pro + Business API\n        "
  name: Invoice Processing
- description: "\n## 🔑 OAuth2 Authentication for AFNOR PDP\n\n**Endpoint to obtain\
    \ an OAuth2 token for authentication with Partner Dematerialization Platforms.**\n\
    \n### Usage\n\nThis endpoint allows you to obtain an OAuth2 access token required\
    \ to call Flow Service and Directory Service APIs.\n\n**Request Type**: `application/x-www-form-urlencoded`\n\
    \n**Parameters**:\n- `grant_type`: `client_credentials` (required)\n- `client_id`:\
    \ Client ID provided by the PDP (required)\n- `client_secret`: Client secret provided\
    \ by the PDP (required)\n\n**Response**:\n```json\n{\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...\"\
    ,\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 3600\n}\n```\n\n**Note**:\
    \ This token must be used in the `Authorization: Bearer {access_token}` header\
    \ for AFNOR API calls.\n        "
  name: AFNOR PDP/PA
- description: "\n## 🔐 AFNOR PDP Authentication Modes\n\n**All AFNOR Flow Service\
    \ endpoints support 2 authentication modes:**\n\n### Mode 1: Stored (Stored Credentials)\n\
    - PDP credentials are stored encrypted in Django\n- Automatically retrieved via\
    \ JWT `client_uid`\n- **Django decides** the environment (test/production via\
    \ configured URLs)\n- Convenient for production\n\n**Example**:\n```json\n{\n\
    \  \"name\": \"Invoice INV-2025-001\",\n  \"flowSyntax\": \"CII\",\n  \"flowProfile\"\
    : \"EN16931\"\n}\n```\n\n**JWT must contain**: `client_uid` claim pointing to\
    \ a registered PDP config\n\n---\n\n### Mode 2: Zero-Trust (Zero-Storage)\n- PDP\
    \ credentials are passed in the `pdp_credentials` field of each request\n- Never\
    \ stored in database\n- **Client decides** the environment via URLs in credentials\n\
    - Maximum security, GDPR compliant\n\n**Example**:\n```json\n{\n  \"name\": \"\
    Invoice INV-2025-001\",\n  \"flowSyntax\": \"CII\",\n  \"flowProfile\": \"EN16931\"\
    ,\n  \"pdp_credentials\": {\n    \"flow_service_url\": \"https://pdp-production.example.fr/flow/v1\"\
    ,\n    \"token_url\": \"https://auth.example.fr/oauth/token\",\n    \"client_id\"\
    : \"client_prod_123\",\n    \"client_secret\": \"secret_prod_456\",\n    \"directory_service_url\"\
    : \"https://pdp-production.example.fr/directory/v1\"\n  }\n}\n```\n\n---\n\n**PDPCredentials\
    \ Schema**:\n- `flow_service_url`: Flow Service API URL (invoice submission/search)\n\
    - `token_url`: OAuth2 URL to obtain token\n- `client_id`: OAuth2 Client ID provided\
    \ by PDP\n- `client_secret`: OAuth2 Client Secret provided by PDP\n- `directory_service_url`:\
    \ (Optional) Directory Service API URL\n\n**Note**: All endpoints below support\
    \ these 2 modes. The `pdp_credentials` field is optional in each request.\n\n📖\
    \ **Full documentation**: See `OPENAPI_AUTHENTICATION_MODES.md`\n        "
  name: AFNOR PDP/PA - Flow Service
- description: "\n## 🔐 AFNOR Directory Service Authentication Modes\n\nSupports the\
    \ **same 2 authentication modes** as Flow Service.\n\n### Mode 1: Stored\nJWT\
    \ with `client_uid` → Credentials retrieved from Django\n\n### Mode 2: Zero-Trust\n\
    PDP credentials passed in `pdp_credentials` (see Flow Service)\n\n📖 **Full documentation**:\
    \ See \"AFNOR PDP/PA - Flow Service\" tag above\n        "
  name: AFNOR PDP/PA - Directory Service
- description: "\n## 🔐 Chorus Pro Authentication Modes\n\n**All Chorus Pro endpoints\
    \ support 2 authentication modes:**\n\n### Mode 1: Stored (Stored Credentials)\n\
    - Credentials are stored encrypted in Django\n- Automatically retrieved via JWT\
    \ `client_uid`\n- **Django decides** the environment (sandbox/production)\n- Convenient\
    \ for production\n\n**Example**:\n```json\n{\n  \"structure_identifier\": \"12345678901234\"\
    ,\n  \"structure_identifier_type\": \"SIRET\"\n}\n```\n\n**JWT must contain**:\
    \ `client_uid` claim pointing to a registered Chorus Pro config\n\n---\n\n###\
    \ Mode 2: Zero-Trust\n- Credentials are passed in the `credentials` field of each\
    \ request\n- Never stored in database\n- **Client decides** the environment via\
    \ `\"sandbox\": true/false`\n- Maximum security, GDPR compliant\n\n**Example**:\n\
    ```json\n{\n  \"credentials\": {\n    \"piste_client_id\": \"my_client_id\",\n\
    \    \"piste_client_secret\": \"my_secret\",\n    \"chorus_pro_login\": \"login@company.fr\"\
    ,\n    \"chorus_pro_password\": \"password\",\n    \"sandbox\": true\n  },\n \
    \ \"structure_identifier\": \"12345678901234\",\n  \"structure_identifier_type\"\
    : \"SIRET\"\n}\n```\n\n---\n\n**ChorusProCredentials Schema**:\n- `piste_client_id`:\
    \ PISTE Client ID (government OAuth2 portal)\n- `piste_client_secret`: PISTE Client\
    \ Secret\n- `chorus_pro_login`: Chorus Pro login\n- `chorus_pro_password`: Chorus\
    \ Pro password\n- `sandbox`: `true` = test environment, `false` = production\n\
    \n**Note**: All endpoints below support these 2 modes. The `credentials` field\
    \ is optional in each request.\n\n📖 **Full documentation**: See `OPENAPI_AUTHENTICATION_MODES.md`\n\
    \        "
  name: Chorus Pro
- description: "\n## 🔍 PDF/XML Factur-X Consistency Verification\n\n**Verifies that\
    \ visible data in the PDF matches the embedded Factur-X XML.**\n\n### Features\n\
    \n- **Native PDF Extraction**: Fast, uses pdfplumber to extract text\n- **OCR\
    \ Extraction**: DocTR service for image PDFs (asynchronous)\n- **Comparison**:\
    \ Compares extracted PDF data with Factur-X XML\n- **Discrepancy Report**: List\
    \ of differences with severity level (CRITICAL, WARNING, INFO)\n\n### Verified\
    \ Fields\n\n**Identification**: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5\
    \ (currency)\n\n**Parties**:\n- Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN),\
    \ BT-31 (VAT)\n- Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT)\n\
    \n**Amounts**: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount\
    \ due)\n\n**Mandatory Notes**: PMT (recovery fees), PMD (late payment penalties),\
    \ AAB (discount)\n\n### Endpoints\n\n- **POST /verify**: Synchronous verification\
    \ (native PDF only)\n- **POST /verify-async**: Asynchronous verification (with\
    \ OCR if needed)\n- **GET /verify-async/{id}/status**: Async verification status\n\
    - **POST /extract**: Extraction only (without XML comparison)\n        "
  name: PDF/XML Verification
- description: "\n## 📊 E-Reporting (Flux 10) for PPF\n\n**Submit transaction and\
    \ payment data to the French tax administration via PA (Plateformes Agréées).**\n\
    \n### What is E-Reporting?\n\nE-Reporting is the obligation to transmit transaction\
    \ data to the tax administration\nfor operations that are outside the scope of\
    \ e-invoicing (B2B domestic invoices).\n\n### Applicable Cases\n\n- **B2B International**:\
    \ Sales/purchases with foreign companies\n- **B2C**: Sales to individuals (consumers)\n\
    - **Payments**: When VAT is due on payment (not on invoice)\n\n### Supported Flux\
    \ Types\n\n| Code | Name | Data Field | Description |\n|------|------|------------|-------------|\n\
    | **10.1** | B2B Int. Transactions | `invoices` | Unitary B2B international invoices\
    \ |\n| **10.2** | B2B Int. Payments | `invoicePayments` | Payments for B2B int.\
    \ invoices |\n| **10.3** | B2C Transactions | `transactions` | Aggregated B2C\
    \ sales (daily/periodic) |\n| **10.4** | B2C Payments | `aggregatedPayments` |\
    \ Aggregated B2C payments |\n\n### Workflow\n\n1. **Generate**: Create FRR XML\
    \ from structured data\n2. **Validate**: Check data consistency and business rules\n\
    3. **Submit**: Send to PA via AFNOR Flow Service API\n\n### Example (Flux 10.3\
    \ - B2C Aggregated)\n\n```json\n{\n  \"reportId\": \"EREPORT-2025-001\",\n  \"\
    flowType\": \"10.3\",\n  \"sender\": {\"siren\": \"123456789\", \"name\": \"Ma\
    \ Société\"},\n  \"period\": {\"startDate\": \"2025-01-01\", \"endDate\": \"2025-01-31\"\
    },\n  \"transactions\": [{\n    \"date\": \"2025-01-15\",\n    \"category\": \"\
    B2C\",\n    \"taxExclusiveAmount\": \"10000.00\",\n    \"taxAmount\": \"2000.00\"\
    ,\n    \"taxBreakdown\": [{\"rate\": \"20.00\", \"taxableAmount\": \"10000.00\"\
    , \"taxAmount\": \"2000.00\"}],\n    \"transactionCount\": 150\n  }]\n}\n```\n\
    \        "
  name: E-Reporting
- description: "\n## 🔄 Convert any document to Factur-X\n\n**Transform any document\
    \ (PDF, DOCX, XLSX, images) into a compliant Factur-X invoice.**\n\n### How it\
    \ works\n\n1. **Upload**: Send your document (PDF, Word, Excel, image scan)\n\
    2. **Automatic extraction**: Invoice data is automatically extracted\n3. **Smart\
    \ detection**: Document type automatically identified (invoice, credit note, etc.)\n\
    4. **Data enrichment**: Missing company info completed from official registries\n\
    5. **Validation**: Compliance verified against European standards (EN16931)\n\
    6. **Output**: PDF/A-3 with embedded XML, ready for submission\n\n### Supported\
    \ Document Types (UNTDID 1001)\n\n| Code | Type | Description |\n|------|------|-------------|\n\
    | 380 | Invoice | Standard commercial invoice |\n| 381 | Credit note | Refund,\
    \ correction of previous invoice |\n| 384 | Corrective invoice | Replaces an erroneous\
    \ invoice |\n| 386 | Prepayment invoice | Deposit or advance payment |\n\n###\
    \ Automatic Detection\n\n- **Profile**: EN16931 (standard) or EXTENDED (complex\
    \ cases: factoring, subcontracting, B2G)\n- **Transaction type**: B2B, B2C, or\
    \ B2G\n- **Special cases**: Subcontracting, factoring, self-invoicing\n\n### Your\
    \ PDF is preserved when possible\n\n| Your document | What happens |\n|---------------|--------------|\n\
    | PDF with complete data | ✅ Your PDF is kept, XML embedded |\n| PDF with missing\
    \ data | ⚠️ New PDF generated, you're notified |\n| Excel / Word / Image | 📄\
    \ PDF generated from a standard template |\n\n### Iterative workflow (if data\
    \ is incomplete)\n\n1. Upload your document\n2. API returns extracted data + missing\
    \ fields (status `202`)\n3. Complete or correct the data via JSON\n4. Call `/resume`\
    \ endpoint (no re-upload needed)\n5. Validation replayed → PDF/A-3 generated\n\
    \n### Endpoints\n\n| Method | Endpoint | Description |\n|--------|----------|-------------|\n\
    | `POST` | `/convert/async` | Asynchronous conversion (webhook callback) |\n|\
    \ `POST` | `/convert/{id}/resume` | Resume with corrections |\n| `GET` | `/convert/{id}/status`\
    \ | Check conversion status |\n| `GET` | `/convert/{id}/download/{file}` | Download\
    \ PDF or XML |\n        "
  name: Document Conversion
- description: "\n## Endpoints de santé\n\nVérification de la disponibilité et du\
    \ bon fonctionnement des services.\n\n### Endpoints\n\n- `GET /` : Vérification\
    \ rapide du statut API\n- `GET /healthcheck` : Healthcheck Docker/Kubernetes\n\
    \        "
  name: Health
- description: "\n## Gestion utilisateur\n\nEndpoints pour la gestion du compte utilisateur\
    \ et des informations de session.\n\n### Endpoints\n\n- `GET /api/v1/me` : Informations\
    \ sur l'utilisateur connecté et son quota\n        "
  name: User
- description: "\n## Temporary file downloads\n\nDownload files generated by asynchronous\
    \ tasks when using `webhook_mode: \"download_url\"`.\n\n### How it works\n\n1.\
    \ When submitting an async task, set `webhook_mode: \"download_url\"`\n2. The\
    \ webhook notification will contain a `download_url` instead of base64 content\n\
    3. Use this URL to download the file (requires JWT authentication)\n4. Files expire\
    \ after 1 hour\n\n### Security\n\n- JWT authentication required\n- Only the user\
    \ who initiated the task can download the file\n        "
  name: Downloads
paths:
  /api/v1/processing/generate-invoice:
    post:
      description: |-
        Generates an electronic invoice in Factur-X format compliant with European standards.

        ## Applied Standards

        - **Factur-X** (France): FNFE-MPE standard (Forum National de la Facture Électronique)
        - **ZUGFeRD** (Germany): German format compatible with Factur-X
        - **EN 16931**: European semantic standard for electronic invoicing
        - **ISO 19005-3** (PDF/A-3): Long-term electronic archiving
        - **Cross Industry Invoice (CII)**: UN/CEFACT XML syntax

        ## 🆕 New: Simplified format with auto-enrichment (P0.1)

        You can now create an invoice by providing only:
        - An invoice number
        - A supplier SIRET + **IBAN** (required)
        - A recipient SIRET
        - Invoice lines (description, quantity, net price)

        **Simplified format example**:
        ```json
        {
          "number": "FACT-2025-001",
          "supplier": {
            "siret": "92019522900017",
            "iban": "FR7630001007941234567890185"
          },
          "recipient": {"siret": "35600000000048"},
          "lines": [
            {"description": "Service", "quantity": 10, "unitPrice": 100.00, "vatRate": 20.0}
          ]
        }
        ```

        **⚠️ Required fields (simplified format)**:
        - `number`: Unique invoice number
        - `supplier.siret`: Supplier's SIRET (14 digits)
        - `supplier.iban`: Bank account IBAN (no public API to retrieve it)
        - `recipient.siret`: Recipient's SIRET
        - `lines[]`: At least one invoice line

        **What happens automatically with `auto_enrich=True`**:
        - ✅ Name enrichment from Chorus Pro API
        - ✅ Address enrichment from Business Search API (free, public)
        - ✅ Automatic intra-EU VAT calculation (FR + key + SIREN)
        - ✅ Chorus Pro ID retrieval for electronic invoicing
        - ✅ Net/VAT/Gross totals calculation
        - ✅ Date generation (today + 30-day due date)
        - ✅ Multi-rate VAT handling

        **Supported identifiers**:
        - SIRET (14 digits): Specific establishment ⭐ Recommended
        - SIREN (9 digits): Company (auto-selection of headquarters)
        - Special types: UE_HORS_FRANCE, RIDET, TAHITI, etc.

        ## Checks performed during generation

        ### 1. Data validation (Pydantic)
        - Data types (amounts as Decimal, ISO 8601 dates)
        - Formats (14-digit SIRET, 9-digit SIREN, IBAN)
        - Required fields per profile
        - Amount consistency (Net + VAT = Gross)

        ### 2. CII-compliant XML generation
        - Serialization according to Cross Industry Invoice XSD schema
        - Correct UN/CEFACT namespaces
        - Hierarchical structure respected
        - UTF-8 encoding without BOM

        ### 3. Schematron validation
        - Business rules for selected profile (MINIMUM, BASIC, EN16931, EXTENDED)
        - Element cardinality (required, optional, repeatable)
        - Calculation rules (totals, VAT, discounts)
        - European EN 16931 compliance

        ### 4. PDF/A-3 conversion (if output_format='pdf')
        - Source PDF conversion to PDF/A-3 via Ghostscript
        - Factur-X XML embedding in PDF
        - Compliant XMP metadata
        - ICC sRGB color profile
        - Removal of forbidden elements (JavaScript, forms)

        ## How it works

        1. **Submission**: Invoice is queued in Celery for asynchronous processing
        2. **Immediate return**: You receive a `task_id` (HTTP 202 Accepted)
        3. **Tracking**: Use the `/tasks/{task_id}/status` endpoint to track progress

        ## Webhook notification (recommended)

        Instead of polling, you can receive a webhook notification when the task completes:

        ```
        callback_url=https://your-server.com/webhook
        ```

        The webhook will POST a JSON payload with:
        - `event_type`: `generation.completed` or `generation.failed`
        - `data.task_id`: The Celery task ID
        - `data.content_b64` or `data.xml_content`: The generated content
        - `X-Webhook-Signature` header for HMAC verification

        See `/docs/WEBHOOKS.md` for full documentation.

        ## Output formats

        - **xml**: Generates only Factur-X XML (recommended for testing)
        - **pdf**: Generates PDF/A-3 with embedded XML (requires `source_pdf`)

        ## Factur-X profiles

        - **MINIMUM**: Minimal data (simplified invoice)
        - **BASIC**: Basic information (SMEs)
        - **EN16931**: European standard (recommended, compliant with directive 2014/55/EU)
        - **EXTENDED**: All available data (large accounts)

        ## What you get

        After successful processing (status `completed`):
        - **XML only**: Base64-encoded Factur-X compliant XML file
        - **PDF/A-3**: PDF with embedded XML, ready for sending/archiving
        - **Metadata**: Profile, Factur-X version, file size
        - **Validation**: Schematron compliance confirmation

        ## Validation

        Data is automatically validated according to detected format.
        On error, a 422 status is returned with invalid field details.
      operationId: generate_invoice_api_v1_processing_generate_invoice_post
      requestBody:
        content:
          multipart/form-data:
            examples:
              xml_output:
                summary: Generate XML only
                value:
                  invoice_data: "{\"invoiceNumber\":\"FACT-2025-001\",\"invoiceDate\"\
                    :\"2025-10-27\",\"paymentDueDate\":\"2025-11-27\",\"submissionMode\"\
                    :\"DEPOT_PDF_API\",\"recipient\":{\"name\":\"Client Test SAS\"\
                    ,\"electronicAddress\":{\"identifier\":\"12345678901234\",\"schemeId\"\
                    :\"0225\"},\"postalAddress\":{\"lineOne\":\"456 Avenue des Champs\"\
                    ,\"postalCode\":\"69001\",\"city\":\"Lyon\",\"countryCode\":\"\
                    FR\"},\"executingServiceCode\":\"SERVICE01\"},\"supplier\":{\"\
                    name\":\"Ma Soci\\u00e9t\\u00e9 SAS\",\"supplierId\":12345,\"\
                    siret\":\"12345678900001\",\"vatNumber\":\"FR12345678900\",\"\
                    iban\":\"FR7630006000011234567890189\",\"electronicAddress\":{\"\
                    identifier\":\"12345678900001\",\"schemeId\":\"0225\"},\"postalAddress\"\
                    :{\"lineOne\":\"123 Rue de la R\\u00e9publique\",\"lineTwo\":\"\
                    B\\u00e2timent A\",\"postalCode\":\"75001\",\"city\":\"Paris\"\
                    ,\"countryCode\":\"FR\"}},\"invoicingFramework\":{\"invoicingFrameworkCode\"\
                    :\"A1_FACTURE_FOURNISSEUR\"},\"references\":{\"invoiceType\":\"\
                    FACTURE\",\"vatAccountingCode\":\"TVA_SUR_DEBIT\",\"paymentMeans\"\
                    :\"VIREMENT\",\"invoiceCurrency\":\"EUR\",\"purchaseOrderReference\"\
                    :\"CMD-2025-042\"},\"invoiceLines\":[{\"lineNumber\":1,\"itemName\"\
                    :\"Prestation de conseil\",\"quantity\":\"5.00\",\"unit\":\"HEURE\"\
                    ,\"unitNetPrice\":\"200.00\",\"lineNetAmount\":\"1000.00\",\"\
                    manualVatRate\":\"20.00\",\"vatCategory\":\"S\",\"reference\"\
                    :\"REF-CONSEIL-001\"},{\"lineNumber\":2,\"itemName\":\"Formation\
                    \ d\\u00e9veloppeurs\",\"quantity\":\"3.00\",\"unit\":\"JOUR\"\
                    ,\"unitNetPrice\":\"500.00\",\"lineNetAmount\":\"1500.00\",\"\
                    vatCategory\":\"S\",\"manualVatRate\":\"20.00\",\"reference\"\
                    :\"REF-FORM-002\"}],\"vatLines\":[{\"taxableAmount\":\"2500.00\"\
                    ,\"vatAmount\":\"500.00\",\"manualRate\":\"20.00\",\"category\"\
                    :\"S\"}],\"totals\":{\"totalNetAmount\":\"2500.00\",\"vatAmount\"\
                    :\"500.00\",\"totalGrossAmount\":\"3000.00\",\"amountDue\":\"\
                    3000.00\"},\"comment\":\"Invoice for October 2025 services\"}"
                  profile: EXTENDED
                  output_format: xml
              pdf_output:
                summary: Generate PDF (requires source_pdf)
                value:
                  invoice_data: "{\"invoiceNumber\":\"FACT-2025-001\",\"invoiceDate\"\
                    :\"2025-10-27\",\"paymentDueDate\":\"2025-11-27\",\"submissionMode\"\
                    :\"DEPOT_PDF_API\",\"recipient\":{\"name\":\"Client Test SAS\"\
                    ,\"electronicAddress\":{\"identifier\":\"12345678901234\",\"schemeId\"\
                    :\"0225\"},\"postalAddress\":{\"lineOne\":\"456 Avenue des Champs\"\
                    ,\"postalCode\":\"69001\",\"city\":\"Lyon\",\"countryCode\":\"\
                    FR\"},\"executingServiceCode\":\"SERVICE01\"},\"supplier\":{\"\
                    name\":\"Ma Soci\\u00e9t\\u00e9 SAS\",\"supplierId\":12345,\"\
                    siret\":\"12345678900001\",\"vatNumber\":\"FR12345678900\",\"\
                    iban\":\"FR7630006000011234567890189\",\"electronicAddress\":{\"\
                    identifier\":\"12345678900001\",\"schemeId\":\"0225\"},\"postalAddress\"\
                    :{\"lineOne\":\"123 Rue de la R\\u00e9publique\",\"lineTwo\":\"\
                    B\\u00e2timent A\",\"postalCode\":\"75001\",\"city\":\"Paris\"\
                    ,\"countryCode\":\"FR\"}},\"invoicingFramework\":{\"invoicingFrameworkCode\"\
                    :\"A1_FACTURE_FOURNISSEUR\"},\"references\":{\"invoiceType\":\"\
                    FACTURE\",\"vatAccountingCode\":\"TVA_SUR_DEBIT\",\"paymentMeans\"\
                    :\"VIREMENT\",\"invoiceCurrency\":\"EUR\",\"purchaseOrderReference\"\
                    :\"CMD-2025-042\"},\"invoiceLines\":[{\"lineNumber\":1,\"itemName\"\
                    :\"Prestation de conseil\",\"quantity\":\"5.00\",\"unit\":\"HEURE\"\
                    ,\"unitNetPrice\":\"200.00\",\"lineNetAmount\":\"1000.00\",\"\
                    manualVatRate\":\"20.00\",\"vatCategory\":\"S\",\"reference\"\
                    :\"REF-CONSEIL-001\"},{\"lineNumber\":2,\"itemName\":\"Formation\
                    \ d\\u00e9veloppeurs\",\"quantity\":\"3.00\",\"unit\":\"JOUR\"\
                    ,\"unitNetPrice\":\"500.00\",\"lineNetAmount\":\"1500.00\",\"\
                    vatCategory\":\"S\",\"manualVatRate\":\"20.00\",\"reference\"\
                    :\"REF-FORM-002\"}],\"vatLines\":[{\"taxableAmount\":\"2500.00\"\
                    ,\"vatAmount\":\"500.00\",\"manualRate\":\"20.00\",\"category\"\
                    :\"S\"}],\"totals\":{\"totalNetAmount\":\"2500.00\",\"vatAmount\"\
                    :\"500.00\",\"totalGrossAmount\":\"3000.00\",\"amountDue\":\"\
                    3000.00\"},\"comment\":\"Invoice for October 2025 services\"}"
                  profile: EXTENDED
                  output_format: pdf
                  source_pdf: (binary)
            schema:
              $ref: "#/components/schemas/Body_generate_invoice_api_v1_processing_generate_invoice_post"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskResponse"
          description: Successful Response
        "400":
          description: Invalid invoice data or missing PDF file
        "422":
          description: Invoice data validation error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Generate a Factur-X invoice
      tags:
      - Invoice Processing
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/processing/tasks/{task_id}/status:
    get:
      description: |-
        Retrieves the progress status of an invoice generation task.

        ## Possible states

        The `status` field uses the `CeleryStatus` enum with values:
        - **PENDING, STARTED, SUCCESS, FAILURE, RETRY**

        See the `CeleryStatus` schema documentation for details.

        ## Business result

        When `status="SUCCESS"`, the `result` field contains:
        - `status`: "SUCCESS" or "ERROR" (business result)
        - `content_b64`: Base64 encoded content (if success)
        - `errorCode`, `errorMessage`, `details`: AFNOR format (if business error)

        ## Usage

        Poll this endpoint every 2-3 seconds until
        `status` is `SUCCESS` or `FAILURE`.
      operationId: get_task_status_api_v1_processing_tasks__task_id__status_get
      parameters:
      - description: Celery task ID returned by async endpoints (UUID format)
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          description: Celery task ID returned by async endpoints (UUID format)
          title: Task Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncTaskStatus"
          description: Current task state
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Get task generation status
      tags:
      - Invoice Processing
      x-accepts:
      - application/json
  /api/v1/processing/validate-xml:
    post:
      description: |-
        Validates a Factur-X XML file against Schematron business rules according to EN 16931 standard.

        ## Applied Standard

        **Schematron ISO/IEC 19757-3**: Business rules validation language for XML
        - Semantic validation (beyond XSD syntax)
        - European EN 16931 business rules
        - French-specific Factur-X rules
        - Arithmetic calculations and data consistency

        ## Profiles and validated rules

        ### MINIMUM (45 rules)
        - Unique invoice identifier
        - Dates (issue, due date)
        - Party identifiers (SIRET/SIREN)
        - Total gross amount

        ### BASIC (102 rules)
        - All MINIMUM rules
        - Detailed invoice lines
        - Basic VAT calculations
        - Payment methods
        - References (order, contract)

        ### EN16931 (178 rules)
        - All BASIC rules
        - **European rules (BR-xx)**: 81 business rules
        - **French rules (FR-xx)**: 12 France-specific rules
        - **Advanced calculations (CR-xx)**: 32 calculation rules
        - **Standardized codes (CL-xx)**: 52 code lists

        ### EXTENDED (210+ rules)
        - All EN16931 rules
        - Logistics information
        - Advanced accounting data
        - Multiple external references

        ## Checks performed

        ### 1. Syntax validation
        - Correct XML parsing (UTF-8, well-formed)
        - UN/CEFACT namespaces present
        - Hierarchical structure respected

        ### 2. Business rules (BR-xx)
        Examples:
        - `BR-1`: Invoice total must equal sum of line totals + document-level amounts
        - `BR-CO-10`: Sum of VAT base amounts must equal invoice net total
        - `BR-16`: Invoice currency code must be in ISO 4217 list

        ### 3. French rules (FR-xx)
        Examples:
        - `FR-1`: Supplier SIRET must have 14 digits
        - `FR-2`: Customer SIRET must have 14 digits (if present)
        - `FR-5`: Intra-EU VAT number must be in format FRxx999999999

        ### 4. Calculation rules (CR-xx)
        - Net + VAT = Gross amounts
        - Sum of lines = Document total
        - Discounts and surcharges correctly applied
        - Compliant rounding (2 decimals for amounts)

        ### 5. Standardized codes (CL-xx)
        - ISO 3166-1 alpha-2 country codes
        - ISO 4217 currency codes
        - UN/ECE Rec 20 measurement units
        - VAT codes (types, categories, exemptions)
        - SchemeID for identifiers (0002=SIREN, 0009=SIRET, etc.)

        ## Validation process

        1. **XSLT loading**: Schematron file converted to XSLT (Saxon-HE)
        2. **Transformation**: Rules applied to XML
        3. **Results analysis**: Extraction of errors (`failed-assert`) and warnings (`successful-report`)
        4. **Report**: Structured list of non-conformities

        ## Responses

        **200 OK**: Compliant XML
        ```json
        {
          "message": "XML is compliant with EN16931 profile"
        }
        ```

        **400 Bad Request**: Non-compliant XML
        ```json
        {
          "detail": [
            "[BR-1] Invoice total (120.00) does not match calculated sum (100.00 + 20.00)",
            "[FR-1] Supplier SIRET must contain exactly 14 digits"
          ]
        }
        ```

        ## Use cases

        - **Pre-validation**: Verify XML before PDF/A integration
        - **Debugging**: Precisely identify generation errors
        - **Testing**: Validate test or example XMLs
        - **Compliance**: Ensure European and French rules are met
        - **Development**: Quick testing without PDF generation

        ## Processing time

        - MINIMUM profile: ~0.5 second
        - EN16931 profile: ~1-2 seconds
        - EXTENDED profile: ~2-3 seconds
      operationId: validate_xml_api_v1_processing_validate_xml_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_validate_xml_api_v1_processing_validate_xml_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationSuccessResponse"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/facture_electronique__rest_api__schemas__validation__ValidationErrorResponse"
          description: XML does not comply with Factur-X profile rules
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Validate an existing Factur-X XML
      tags:
      - Invoice Processing
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/processing/validate-facturx-pdf:
    post:
      description: |-
        Validates a complete Factur-X PDF according to European and French standards.

        ## Applied validation standards

        - **EN 16931**: European semantic standard (directive 2014/55/EU)
        - **ISO 19005-3** (PDF/A-3): Long-term electronic archiving
        - **Factur-X / ZUGFeRD**: Franco-German specification
        - **Schematron**: XML business rules validation
        - **eIDAS**: European regulation on electronic identification (signatures)

        ## Checks performed

        ### 1. Factur-X XML extraction and validation
        **Checks performed:**
        - Presence of embedded XML file (`factur-x.xml` or `zugferd-invoice.xml`)
        - Automatic profile detection (MINIMUM, BASIC, EN16931, EXTENDED)
        - XML parsing with UTF-8 validation
        - GuidelineSpecifiedDocumentContextParameter/ID extraction

        **Schematron validation:**
        - Business rules for detected profile (MINIMUM: 45 rules, EN16931: 178 rules)
        - Cardinality of required elements
        - Calculation consistency (net, VAT, gross amounts, discounts)
        - Identifier formats (SIRET, intra-EU VAT, IBAN)
        - Standardized codes (ISO country codes, UN/ECE units, VAT codes)

        **What is verified:**
        - ✅ XML structure conforming to Cross Industry Invoice XSD
        - ✅ Correct UN/CEFACT namespace
        - ✅ European business rules (BR-xx)
        - ✅ French-specific rules (FR-xx)

        ### 2. PDF/A-3 compliance
        **Basic validation (metadata):**
        - Presence of `/Type` field set to `Catalog`
        - Metadata `pdfaid:part` = 3 (PDF/A-3)
        - Metadata `pdfaid:conformance` = B or U
        - PDF version >= 1.4

        **Strict VeraPDF validation (if use_verapdf=True):**
        - 146+ ISO 19005-3 rules (PDF/A-3B)
        - Absence of forbidden content (JavaScript, multimedia, dynamic forms)
        - Correctly embedded fonts and subsets
        - Compliant color spaces (sRGB, DeviceGray)
        - Valid file structure (cross-reference table)
        - XMP metadata conforming to ISO 16684-1

        **What is verified:**
        - ✅ Long-term archivable file (20+ years)
        - ✅ Guaranteed readability (embedded fonts)
        - ✅ Legal compliance (France, Germany, EU)

        ### 3. XMP metadata (eXtensible Metadata Platform)
        **Checks performed:**
        - Presence of `<?xpacket>` block with XMP metadata
        - `fx:` namespace for Factur-X: `urn:factur-x:pdfa:CrossIndustryDocument:invoice:1p0#`
        - Required Factur-X fields:
          - `fx:ConformanceLevel`: Profile (MINIMUM, BASIC, EN16931, EXTENDED)
          - `fx:DocumentFileName`: Embedded XML name
          - `fx:DocumentType`: "INVOICE"
          - `fx:Version`: Factur-X version (1.0.07)

        **What is verified:**
        - ✅ Metadata conforming to ISO 16684-1
        - ✅ Correct declared Factur-X profile
        - ✅ Supported Factur-X version

        ### 4. Electronic signatures
        **Detection and analysis:**
        - Presence of `/Sig` dictionaries in PDF
        - Signature type: PAdES (PDF Advanced Electronic Signature)
        - Information extraction:
          - Signer name (`/Name`)
          - Signing date (`/M`)
          - Signature reason (`/Reason`)
          - Signature location (`/Location`)
          - Signature type (approval, certification)

        **What is verified:**
        - ✅ Presence of signatures or seals
        - ✅ Number of signatures (single or multi-signature)
        - ℹ️ No cryptographic verification (requires certificates)

        ## Parameters

        - **pdf_file** (required): The Factur-X PDF file to validate
        - **profile** (optional): Expected profile. If absent, auto-detected from XML
        - **use_verapdf** (optional, default=false): Enable strict PDF/A validation with VeraPDF
          - `false`: Fast metadata validation (2-3 seconds)
          - `true`: Complete ISO 19005-3 validation (15-30 seconds, **recommended for production**)

        ## Detailed response

        ```json
        {
          "isCompliant": true,
          "xml": {
            "present": true,
            "compliant": true,
            "profile": "EN16931",
            "errors": []
          },
          "pdfa": {
            "compliant": true,
            "version": "PDF/A-3B",
            "method": "verapdf",
            "errors": []
          },
          "xmp": {
            "present": true,
            "compliant": true,
            "metadata": {...}
          },
          "signatures": {
            "present": true,
            "count": 1,
            "details": [...]
          }
        }
        ```

        ## Use cases

        - **Before sending**: Validate generated invoice before transmission to client
        - **On reception**: Verify compliance of invoice received from supplier
        - **Audit**: Check quality of invoice batches
        - **Legal compliance**: Ensure B2B/B2G obligations are met in France
        - **Debugging**: Identify issues in generation process
        - **Archiving**: Guarantee long-term validity (PDF/A-3)

        ## Processing time

        - Basic validation: 2-3 seconds
        - VeraPDF validation: 15-30 seconds (depends on PDF size)
      operationId: validate_facturx_pdf_api_v1_processing_validate_facturx_pdf_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_validate_facturx_pdf_api_v1_processing_validate_facturx_pdf_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PDFValidationResultAPI"
          description: Validation completed successfully (check is_compliant field
            for result)
        "400":
          description: Invalid or unreadable PDF file
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Validate a complete Factur-X PDF
      tags:
      - Invoice Processing
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/processing/validate-facturx-async:
    post:
      description: |-
        Validates a Factur-X PDF asynchronously with polling system.

        ## How it works

        1. **Submission**: PDF is queued for asynchronous validation
        2. **Immediate return**: You receive a `task_id` (HTTP 202)
        3. **Tracking**: Use the `/tasks/{task_id}/status` endpoint to track progress

        ## Advantages of asynchronous mode

        - **No timeout**: Ideal for large PDFs or VeraPDF validation (which can take several seconds)
        - **Scalability**: Validations are processed by dedicated Celery workers
        - **Status tracking**: Allows you to monitor validation progress
        - **Non-blocking**: Your client doesn't wait during validation

        ## Webhook notification (recommended)

        Instead of polling, you can receive a webhook notification when validation completes:

        ```
        callback_url=https://your-server.com/webhook
        webhook_mode=download_url  # Optional: get download URL instead of base64
        ```

        The webhook will POST a JSON payload with:
        - `event_type`: `validation.completed` or `validation.failed`
        - `data.is_compliant`: Whether the PDF is Factur-X compliant
        - `data.detected_profile`: The detected Factur-X profile
        - `X-Webhook-Signature` header for HMAC verification

        ## When to use this mode?

        - **VeraPDF validation enabled** (`use_verapdf=True`): Strict validation can take 2-10 seconds
        - **Large PDF files**: PDFs > 1 MB
        - **Batch processing**: Validating multiple invoices in parallel
        - **Asynchronous integration**: Your system supports polling

        ## Checks performed

        ### 1. Factur-X XML extraction and validation
        - Verifies presence of Factur-X compliant embedded XML file
        - Automatically detects profile used (MINIMUM, BASIC, EN16931, EXTENDED)
        - Validates XML against detected profile's Schematron rules

        ### 2. PDF/A compliance
        - **Without VeraPDF**: Basic metadata validation (fast, ~100ms)
        - **With VeraPDF**: Strict ISO 19005 validation (146+ rules, 2-10s)
          - Detects PDF/A version (PDF/A-1, PDF/A-3, etc.)
          - Detailed non-compliance reports

        ### 3. XMP metadata
        - Verifies presence of XMP metadata in PDF
        - Validates Factur-X metadata compliance (profile, version)
        - Extracts all available XMP metadata

        ### 4. Electronic signatures
        - Detects presence of electronic signatures or seals
        - Extracts information about each signature (signer, date, reason)
        - Counts number of signatures present

        ## Parameters

        - **pdf_file**: The Factur-X PDF file to validate
        - **profile**: Expected Factur-X profile (optional). If not specified, profile
          will be auto-detected from embedded XML file.
        - **use_verapdf**: Enable strict PDF/A validation with VeraPDF.
          ⚠️ **Warning**: VeraPDF can take 2-10 seconds depending on PDF size.
          Recommended only in asynchronous mode to avoid timeouts.

        ## Retrieving results

        After submission, use `GET /tasks/{task_id}/status` endpoint to retrieve the result.

        **Polling example**:
        ```python
        import requests
        import time

        # 1. Submit task
        response = requests.post("/validate-facturx-async", files={"pdf_file": pdf_file})
        task_id = response.json()["taskId"]

        # 2. Poll every 2 seconds
        while True:
            status_response = requests.get(f"/tasks/{task_id}/status")
            status = status_response.json()

            if status["status"] == "SUCCESS":
                result = status["result"]["validation_result"]
                print(f"Compliant: {result['is_compliant']}")
                break
            elif status["status"] == "FAILURE":
                print(f"Error: {status['result']['errorMessage']}")
                break

            time.sleep(2)  # Wait 2 seconds before next check
        ```

        ## Use cases

        - Validate invoices before sending with VeraPDF (strict validation)
        - Process invoice batches in parallel
        - Integrate validation into an asynchronous pipeline
        - Validate large PDFs without timeout risk
      operationId: validate_facturx_pdf_async_api_v1_processing_validate_facturx_async_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_validate_facturx_pdf_async_api_v1_processing_validate_facturx_async_post"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskResponse"
          description: Successful Response
        "400":
          description: Invalid or unreadable PDF file
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Validate a Factur-X PDF (asynchronous with polling)
      tags:
      - Invoice Processing
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/processing/sign-pdf:
    post:
      description: |-
        Signs an uploaded PDF with the electronic certificate configured for the client (via client_uid from JWT).

            **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).

            **eIDAS levels**: SES (self-signed), AdES (commercial CA), QES (PSCO - out of scope).

            **Security**: Double authentication X-Internal-Secret + JWT Bearer to retrieve the certificate.

            **⚠️ Legal disclaimer**: Generated signatures are electronic seals as defined by
            the eIDAS regulation. The level of legal validity depends on the certificate used (SES/AdES/QES).
            FactPulse does not provide QES qualified certificates - you must obtain a certificate from
            a PSCO (qualified Trust Service Provider) for maximum legal validity.
      operationId: sign_pdf_api_v1_processing_sign_pdf_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_sign_pdf_api_v1_processing_sign_pdf_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
                signed_pdf_base64: JVBERi0xLjQKJeLjz9MKNSAwIG9iago8PC...
                filename: facture_signed.pdf
                size_bytes: 156789
                is_signed: true
                signer_cn: ACME Corporation - Server Seal
                signature_date: 2025-01-15T14:30:00+00:00
                certificate_expiration: 2026-12-31T23:59:59+00:00
              schema: {}
          description: PDF signed successfully
        "400":
          content:
            application/json:
              example:
                error: invalid_certificate
                message: Invalid or expired certificate
                help: Please update your certificate in your FactPulse dashboard
          description: Invalid or expired certificate
        "404":
          content:
            application/json:
              example:
                error: no_certificate
                message: No signing certificate configured for this client
                help: Please add a certificate in your FactPulse dashboard (Settings
                  > Signing Certificate)
                client_uid: 550e8400-e29b-41d4-a716-446655440000
          description: No certificate configured for this client
        "401":
          description: Not authenticated - Missing or invalid JWT token
        "503":
          description: Django service unavailable
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Sign a PDF with client's certificate (PAdES-B-LT)
      tags:
      - Invoice Processing
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/processing/sign-pdf-async:
    post:
      description: |-
        Signs an uploaded PDF asynchronously via a Celery task.

            **Difference with /sign-pdf**:
            - `/sign-pdf`: Synchronous signature (blocking until completion)
            - `/sign-pdf-async`: Asynchronous signature (returns immediately with task_id)

            **Async advantages**:
            - No timeout for large files
            - No blocking of FastAPI worker
            - Progress tracking via task_id
            - Ideal for batch processing

            **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).

            **⚠️ Legal disclaimer**: Same as /sign-pdf (see that endpoint's documentation).
      operationId: sign_pdf_async_api_v1_processing_sign_pdf_async_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_sign_pdf_async_api_v1_processing_sign_pdf_async_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "202":
          content:
            application/json:
              example:
                task_id: 550e8400-e29b-41d4-a716-446655440000
                status: PENDING
                message: Signature is being processed
          description: Signature task created successfully
        "400":
          description: Invalid parameters
        "401":
          description: Not authenticated - Missing or invalid JWT token
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Sign a PDF asynchronously (Celery)
      tags:
      - Invoice Processing
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/processing/validate-pdf-signature:
    post:
      description: |-
        Validates electronic signatures present in an uploaded PDF.

            **Verifications performed**:
            - Presence of signatures
            - Document integrity (not modified since signing)
            - Certificate validity
            - Chain of trust (if available)
            - Presence of timestamp (PAdES-B-T)
            - Validation data (PAdES-B-LT)

            **Supported standards**: PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.

            **⚠️ Note**: This validation is technical (cryptographic integrity). Legal validity
            depends on the eIDAS level of the certificate (SES/AdES/QES) and the context of use.
      operationId: validate_pdf_signature_endpoint_api_v1_processing_validate_pdf_signature_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_validate_pdf_signature_endpoint_api_v1_processing_validate_pdf_signature_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                is_signed: true
                signature_count: 1
                signatures:
                - field_name: FactPulseSignature
                  signer: ACME Corporation - Server Seal
                  signature_date: 2025-01-15T14:30:00+00:00
                  reason: Factur-X compliance
                  location: "Paris, France"
                  is_valid: true
                  pades_level: PAdES-B-LT
                  timestamped: true
                  validation_data: true
                errors: []
              schema: {}
          description: Validation successful
        "400":
          description: Invalid or unreadable file
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Validate electronic signatures of a PDF
      tags:
      - Invoice Processing
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/processing/generate-test-certificate:
    post:
      description: |-
        Generates a self-signed X.509 certificate for PDF electronic signature testing.

            **⚠️ WARNING: TEST certificate only!**

            This certificate is:
            - ✅ Suitable for testing and development
            - ✅ Compatible with PDF signing (PAdES)
            - ✅ Compliant with eIDAS **SES** level (Simple Electronic Signature)
            - ❌ **NEVER usable in production**
            - ❌ **Not recognized** by browsers and PDF readers
            - ❌ **No legal value**

            ## eIDAS levels

            - **SES** (Simple): Self-signed certificate ← Generated by this endpoint
            - **AdES** (Advanced): Commercial CA certificate (Let's Encrypt, etc.)
            - **QES** (Qualified): Qualified certificate from QTSP (CertEurope, Universign, etc.)

            ## Usage

            Once generated, the certificate can be:

            1. **Saved in Django** (recommended):
               - Django Admin > Signing Certificates
               - Upload `certificate_pem` and `private_key_pem`

            2. **Used directly**:
               - Sign a PDF with `/sign-pdf`
               - The certificate will be automatically used

            ## Example call

            ```bash
            curl -X POST "https://factpulse.fr/api/v1/processing/generate-test-certificate" \
              -H "Authorization: Bearer eyJ0eXAi..." \
              -H "Content-Type: application/json" \
              -d '{
                "cn": "Test Client XYZ",
                "organization": "Client XYZ Ltd",
                "email": "contact@xyz.com",
                "validity_days": 365
              }'
            ```

            ## Use cases

            - PDF signature testing in development
            - Electronic signature POC
            - Training and demos
            - Automated integration tests

            ## Technical compliance

            Certificate generated with:
            - RSA key 2048 or 4096 bits
            - SHA-256 algorithm
            - Key Usage extensions: `digitalSignature`, `contentCommitment` (non-repudiation)
            - Extended Key Usage extensions: `codeSigning`, `emailProtection`
            - Validity: 1 day to 10 years (configurable)
            - Format: PEM (certificate and key)
            - Optional: PKCS#12 (.p12)
      operationId: generate_test_certificate_api_v1_processing_generate_test_certificate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateCertificateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateCertificateResponse"
          description: Certificate generated successfully
        "400":
          content:
            application/json:
              example:
                detail: Key size must be 2048 or 4096
          description: Invalid request (incorrect parameters)
        "500":
          content:
            application/json:
              example:
                detail: "Error generating certificate: ..."
          description: Server error during generation
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Generate a self-signed X.509 test certificate
      tags:
      - Invoice Processing
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/processing/invoices/submit-complete:
    post:
      description: |-
        Unified endpoint to submit a complete invoice to different destinations.

            **Automated workflow:**
            1. **Auto-enrichment** (optional): retrieves data via public APIs and Chorus Pro/AFNOR
            2. **Factur-X PDF generation**: creates a PDF/A-3 with embedded XML
            3. **Electronic signature** (optional): signs the PDF with a certificate
            4. **Submission**: sends to the chosen destination (Chorus Pro or AFNOR PDP)

            **Supported destinations:**
            - **Chorus Pro**: French B2G platform (invoices to public sector)
            - **AFNOR PDP**: Partner Dematerialization Platforms

            **Destination credentials - 2 modes available:**

            **Mode 1 - Retrieval via JWT (recommended):**
            - Credentials are retrieved automatically via the JWT `client_uid`
            - Do not provide the `credentials` field in `destination`
            - Zero-trust architecture: no secrets in the payload
            - Example: `"destination": {"type": "chorus_pro"}`

            **Mode 2 - Credentials in the payload:**
            - Provide credentials directly in the payload
            - Useful for tests or third-party integrations
            - Example: `"destination": {"type": "chorus_pro", "credentials": {...}}`


            **Electronic signature (optional) - 2 modes available:**

            **Mode 1 - Stored certificate (recommended):**
            - Certificate is retrieved automatically via the JWT `client_uid`
            - No key to provide in the payload
            - PAdES-B-LT signature with timestamp (eIDAS compliant)
            - Example: `"signature": {"reason": "Factur-X compliance"}`

            **Mode 2 - Keys in the payload (for tests):**
            - Provide `key_pem` and `cert_pem` directly
            - PEM format accepted: raw or base64
            - Useful for tests or special cases without stored certificate
            - Example: `"signature": {"key_pem": "-----BEGIN...", "cert_pem": "-----BEGIN..."}`

            If `key_pem` and `cert_pem` are provided → Mode 2
            Otherwise → Mode 1 (certificate retrieved via `client_uid`)
      operationId: submit_complete_invoice_api_v1_processing_invoices_submit_complete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitCompleteInvoiceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitCompleteInvoiceResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Submit a complete invoice (generation + signature + submission)
      tags:
      - Invoice Processing
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/processing/invoices/submit-complete-async:
    post:
      description: |-
        Asynchronous version of the `/invoices/submit-complete` endpoint using Celery for background processing.

            **Automated workflow (same as synchronous version):**
            1. **Auto-enrichment** (optional): retrieves data via public APIs and Chorus Pro/AFNOR
            2. **Factur-X PDF generation**: creates a PDF/A-3 with embedded XML
            3. **Electronic signature** (optional): signs the PDF with a certificate
            4. **Submission**: sends to the chosen destination (Chorus Pro or AFNOR PDP)

            **Supported destinations:**
            - **Chorus Pro**: French B2G platform (invoices to public sector)
            - **AFNOR PDP**: Partner Dematerialization Platforms

            **Differences with synchronous version:**
            - ✅ **Non-blocking**: Returns immediately with a `task_id` (HTTP 202 Accepted)
            - ✅ **Background processing**: Invoice is processed by a Celery worker
            - ✅ **Progress tracking**: Use `/tasks/{task_id}/status` to track status
            - ✅ **Ideal for high volumes**: Allows processing many invoices in parallel

            **How to use:**
            1. **Submission**: Call this endpoint with your invoice data
            2. **Immediate return**: You receive a `task_id` (e.g., "abc123-def456")
            3. **Tracking**: Call `/tasks/{task_id}/status` to check progress
            4. **Result**: When `status = "SUCCESS"`, the `result` field contains the complete response

            **Webhook notification (recommended):**

            Instead of polling, add `?callback_url=https://your-server.com/webhook` to receive automatic notification:
            - `event_type`: `submission.completed`, `submission.failed`, or `submission.partial`
            - `data.submission_result`: Complete submission result
            - `X-Webhook-Signature` header for HMAC verification

            **Credentials and signature**: Same modes as the synchronous version (JWT or payload).
      operationId: submit_complete_invoice_async_api_v1_processing_invoices_submit_complete_async_post
      parameters:
      - description: Webhook URL for async notification when submission completes.
        explode: true
        in: query
        name: callback_url
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Webhook content delivery: 'inline' (base64 in payload) or 'download_url'\
          \ (temporary URL, 1h TTL)"
        explode: true
        in: query
        name: webhook_mode
        required: false
        schema:
          default: inline
          description: "Webhook content delivery: 'inline' (base64 in payload) or\
            \ 'download_url' (temporary URL, 1h TTL)"
          title: Webhook Mode
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitCompleteInvoiceRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "401":
          content:
            application/json:
              example:
                errorCode: AUTHENTICATION_REQUIRED
                errorMessage: Invalid or missing JWT token
              schema:
                $ref: "#/components/schemas/APIError"
          description: Authentication required - Invalid or missing JWT token
      security:
      - HTTPBearer: []
      summary: Submit a complete invoice (asynchronous with Celery)
      tags:
      - Invoice Processing
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/afnor/credentials:
    get:
      description: Retrieves stored AFNOR/PDP credentials for the JWT's client_uid.
        This endpoint is used by the SDK in 'stored' mode to retrieve credentials
        before performing AFNOR OAuth itself.
      operationId: get_afnor_credentials_api_v1_afnor_credentials_get
      responses:
        "200":
          content:
            application/json:
              example:
                flow_service_url: https://api.pdp-partner.fr/flow/v1
                token_url: https://auth.pdp-partner.fr/oauth/token
                client_id: factpulse_client
                client_secret: '***'
              schema: {}
          description: AFNOR credentials retrieved successfully
        "400":
          content:
            application/json:
              example:
                detail:
                  error: NO_CLIENT_UID
                  message: No client_uid in JWT. Use zero-trust mode.
          description: No client_uid in JWT
        "401":
          description: Not authenticated - Missing or invalid JWT token
        "404":
          description: Client not found or no AFNOR credentials configured
      security:
      - HTTPBearer: []
      summary: Retrieve stored AFNOR credentials
      tags:
      - AFNOR PDP/PA
      x-accepts:
      - application/json
  /api/v1/afnor/oauth/token:
    post:
      description: OAuth2 proxy endpoint to obtain an AFNOR access token. Proxies
        to AFNOR mock (sandbox) or real PDP depending on MOCK_AFNOR_BASE_URL. This
        endpoint is public (no Django auth required) as it is called by the AFNOR
        SDK.
      operationId: oauth_token_proxy_api_v1_afnor_oauth_token_post
      responses:
        "200":
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                token_type: Bearer
                expires_in: 3600
              schema: {}
          description: OAuth2 token acquired successfully
        "401":
          description: Invalid credentials
      summary: OAuth2 endpoint for AFNOR authentication
      tags:
      - AFNOR PDP/PA
      x-accepts:
      - application/json
  /api/v1/afnor/incoming-flows/{flow_id}:
    get:
      description: "Downloads an incoming flow from the AFNOR PDP and extracts invoice\
        \ metadata into a unified JSON format. Supports Factur-X, CII, and UBL formats."
      operationId: get_flux_entrant_api_v1_afnor_incoming_flows__flow_id__get
      parameters:
      - description: AFNOR flow ID (UUID format)
        explode: false
        in: path
        name: flow_id
        required: true
        schema:
          description: AFNOR flow ID (UUID format)
          title: Flow Id
          type: string
        style: simple
      - description: Include base64-encoded document in response
        explode: true
        in: query
        name: include_document
        required: false
        schema:
          default: false
          description: Include base64-encoded document in response
          title: Include Document
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                flowId: 550e8400-e29b-41d4-a716-446655440000
                sourceFormat: Factur-X
                supplierReference: FAC-2025-001
                documentType: "380"
                supplier:
                  name: Supplier SAS
                  siret: "12345678901234"
                  vatNumber: FR12345678901
                billingSiteName: My Company
                billingSiteSiret: "98765432109876"
                issueDate: 2025-01-15
                dueDate: 2025-02-15
                currency: EUR
                netAmount: "1000.00"
                vatAmount: "200.00"
                grossAmount: "1200.00"
              schema:
                $ref: "#/components/schemas/IncomingInvoice"
          description: Invoice extracted successfully
        "400":
          description: Unsupported or invalid invoice format
        "401":
          description: Not authenticated
        "404":
          description: Flow not found
        "503":
          description: PDP service unavailable
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Retrieve and extract an incoming invoice
      tags:
      - AFNOR PDP/PA
      x-accepts:
      - application/json
  /api/v1/afnor/flow/v1/healthcheck:
    get:
      description: Check Flow Service availability (AFNOR XP Z12-013 compliant)
      operationId: flow_healthcheck_proxy_api_v1_afnor_flow_v1_healthcheck_get
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - Service is operational
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Service unavailable - PDP temporarily unavailable
      summary: Healthcheck Flow Service
      tags:
      - AFNOR PDP/PA - Flow Service
      x-accepts:
      - application/json
  /api/v1/afnor/flow/v1/flows:
    post:
      description: Submits an electronic invoice to a Partner Dematerialization Platform
        (PDP) in compliance with the AFNOR XP Z12-013 standard
      operationId: submit_flow_proxy_api_v1_afnor_flow_v1_flows_post
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                contentType: "application/pdf, application/xml"
                style: form
              flowInfo:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/submit_flow_proxy_api_v1_afnor_flow_v1_flows_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_FullFlowInfo"
          description: OK - Flow has been uploaded and accepted for processing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Bad request - Invalid input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Authentication error - Missing or invalid token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Resource not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Payload too large - File exceeds maximum size
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Unprocessable entity - Business rule validation failed
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Too many requests - Rate limit exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Service unavailable - PDP temporarily unavailable
      summary: Submit an invoicing flow
      tags:
      - AFNOR PDP/PA - Flow Service
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/afnor/flow/v1/flows/search:
    post:
      description: Search invoicing flows by criteria (AFNOR XP Z12-013 compliant)
      operationId: search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AFNOR_SearchFlowParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_SearchFlowContent"
          description: OK - Search results returned
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Bad request - Invalid input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Authentication error - Missing or invalid token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Forbidden - Insufficient permissions
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Too many requests - Rate limit exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Service unavailable - PDP temporarily unavailable
      summary: Search flows
      tags:
      - AFNOR PDP/PA - Flow Service
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/afnor/flow/v1/flows/{flowId}:
    get:
      description: |-
        Download a file related to a given flow (AFNOR XP Z12-013 compliant):
        - Metadata [Default]: provides the flow metadata as JSON
        - Original: the document initially sent by the emitter
        - Converted: the document optionally converted by the system
        - ReadableView: the document optionally generated as readable file
      operationId: download_flow_proxy_api_v1_afnor_flow_v1_flows__flowId__get
      parameters:
      - description: AFNOR flow identifier (UUID)
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          description: AFNOR flow identifier (UUID)
          title: Flowid
          type: string
        style: simple
      - description: "Type of file to download: Metadata (default, JSON), Original,\
          \ Converted, or ReadableView"
        explode: true
        in: query
        name: docType
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/DocType"
          default: Metadata
          description: "Type of file to download: Metadata (default, JSON), Original,\
            \ Converted, or ReadableView"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Flow"
            application/pdf:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: OK - Flow file or metadata returned
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Bad request - Invalid input parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Authentication error - Missing or invalid token
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Forbidden - Insufficient permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Too many requests - Rate limit exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_Error"
          description: Service unavailable - PDP temporarily unavailable
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Download a flow
      tags:
      - AFNOR PDP/PA - Flow Service
      x-accepts:
      - application/json
      - application/pdf
      - application/xml
  /api/v1/afnor/directory/v1/healthcheck:
    get:
      description: Check Directory Service availability (AFNOR XP Z12-013 compliant)
      operationId: directory_healthcheck_proxy_api_v1_afnor_directory_v1_healthcheck_get
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - Service is operational
        "500":
          description: Internal Server Error.
        "503":
          description: Service unavailable.
      summary: Healthcheck Directory Service
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/siren/search:
    post:
      description: Multi-criteria company search.
      operationId: search_siren_proxy_api_v1_afnor_directory_v1_siren_search_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_sirenSearchPost200Response"
          description: Returns one or more companies.
        "206":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_sirenSearchPost200Response"
          description: "Request processed without error, but the volume of information\
            \ returned has been reduced."
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: SIREN search (or legal unit)
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/siren/code-insee:{siren}:
    get:
      description: Returns the details of a company (legal unit) identified by the
        SIREN number passed as a parameter.
      operationId: get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee__siren__get
      parameters:
      - description: 9-digit SIREN number (INSEE company identifier)
        explode: false
        in: path
        name: siren
        required: true
        schema:
          description: 9-digit SIREN number (INSEE company identifier)
          title: Siren
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_legalUnitPayloadHistory"
          description: Returns a company.
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: Consult a siren (legal unit) by SIREN number
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/siren/id-instance:{id_instance}:
    get:
      description: Returns the details of a company (legal unit) identified by the
        id-instance passed as a parameter.
      operationId: get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance__id_instance__get
      parameters:
      - description: AFNOR instance ID (UUID)
        explode: false
        in: path
        name: id_instance
        required: true
        schema:
          description: AFNOR instance ID (UUID)
          title: Id Instance
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_legalUnitPayloadHistory"
          description: Returns a routing code.
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: Gets a siren (legal unit) by instance ID
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/siret/search:
    post:
      description: Multi-criteria search for facilities.
      operationId: search_siret_proxy_api_v1_afnor_directory_v1_siret_search_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_siretSearchPost200Response"
          description: Returns an establishment as defined on a given observation
            date or as defined on the current date if the observation date is not
            specified.
        "206":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_siretSearchPost200Response"
          description: "Request processed without error, but the volume of information\
            \ returned has been reduced."
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: Search for a SIRET (facility)
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/siret/code-insee:{siret}:
    get:
      description: Returns the details of a facility associated to a SIRET.
      operationId: get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee__siret__get
      parameters:
      - description: 14-digit SIRET number (INSEE establishment identifier)
        explode: false
        in: path
        name: siret
        required: true
        schema:
          description: 14-digit SIRET number (INSEE establishment identifier)
          title: Siret
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_facilityPayloadHistory"
          description: Returns a facility.
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: Gets a siret (facility) by SIRET number
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/siret/id-instance:{id_instance}:
    get:
      description: Returns the details of a facility according to an instance-id.
      operationId: get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance__id_instance__get
      parameters:
      - description: AFNOR instance ID (UUID)
        explode: false
        in: path
        name: id_instance
        required: true
        schema:
          description: AFNOR instance ID (UUID)
          title: Id Instance
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_facilityPayloadHistory"
          description: Returns a routing code.
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: Gets a siret (facility) by id-instance
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/routing-code:
    post:
      description: Creating a routing code.
      operationId: create_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_routingCodePost201Response"
          description: A new resource has been created.
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: Create a routing code
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/routing-code/search:
    post:
      description: Search for routing codes that meet all the criteria passed as parameters
        and return the routing codes in the desired format.
      operationId: search_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_search_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_routingCodeSearchPost200Response"
          description: Returns the routing code(s) matching the search criteria.
        "206":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_routingCodeSearchPost200Response"
          description: "Request processed without error, but the volume of information\
            \ returned has been reduced."
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
        "500":
          description: Internal Server Error.
        "501":
          description: Not implemented.
        "503":
          description: Service unavailable.
      summary: Search for a routing code
      tags:
      - AFNOR PDP/PA - Directory Service
      x-accepts:
      - application/json
  /api/v1/afnor/directory/v1/routing-code/siret:{siret}/code:{routing_identifier}:
    get:
      description: Retrieve the Routing Code data corresponding to the identifier
        passed in parameters.
      operationId: get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret__siret__code__routing_identifier__get
      parameters:
      - description: 14-digit SIRET number (INSEE establishment identifier)
        explode: false
        in: path
        name: siret
        required: true
        schema:
          description: 14-digit SIRET number (INSEE establishment identifier)
          title: Siret
          type: string
        style: simple
      - description: Routing code identifier
        explode: false
        in: path
        name: routing_identifier
        required: true
        schema:
          description: Routing code identifier
          title: Routing Identifier
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AFNOR_routingCodePayloadHistoryLegalUnitFacility"
          description: Returns a routing code.
        "400":
          description: Bad request. The request is invalid or cannot be completed.
        "401":
          description: Unauthorized. The request requires user authentication.
        "403":
          description: Forbidden. The server understood the request but denied access
            or access is not authorized.
        "404":
          description: Not found. There is no resource at the given URI.
        "408":
          description: Request timeout exceeded.
        "422":
          description: Data validation error.
        "429":
          description: The client has issued too many calls within a given time frame.
[...]
